<!-- Top Bar -->
<!-- Top Bar -->
<div
  class="fixed flex w-full bg-blue-600 align-center p-2 justify-between text-white shadow-md z-50"
>
  <button (click)="toggleSidebar()" class="hover:bg-blue-700 p-2 rounded">
    <mat-icon class="text-white text-3xl">menu</mat-icon>
  </button>
  <button (click)="toggleAvatar()" class="p-menu">
    <img
      class="inline-block h-10 w-10 rounded-full ring-white"
      src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
      alt=""
    />
  </button>
  <div
    [ngClass]="visibleAvatar ? 'scale-100 opacity-100' : 'scale-0 opacity-0'"
    class="fixed bg-white w-[150px] right-4 top-16 shadow-md rounded transition-transform transition-opacity duration-300"
  >
    <div
      *ngFor="let item of items; let i = index"
      (click)="item.command()"
      class="p-2 text-gray-700 cursor-pointer hover:bg-gray-200"
    >
      {{ item.label }}
    </div>
  </div>
</div>

<!-- Sidebar for mobile -->
<div
  [ngClass]="
    visibleSidebar
      ? 'transition-opacity-in duration-300 scale-100 opacity-100'
      : 'transition-opacity-in-out duration-300 scale-0 opacity-0'
  "
  class="fixed inset-0 bg-gray-800 bg-opacity-75 z-50"
>
  <div class="fixed left-0 top-0 w-full bg-white h-full shadow-md">
    <button
      (click)="toggleSidebar()"
      class="p-2 m-2 text-gray-700 hover:bg-gray-200 rounded"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="flex flex-col cursor-pointer p-4">
      <ng-container *ngFor="let tab of sidebarItems">
        <div *ngIf="tab.child">
          <div class="font-bold p-2">{{ tab.label }}</div>
          <div class="pl-4">
            <a
              *ngFor="let item of tab.child"
              routerLink="{{ item.to }}"
              routerLinkActive="active-link"
              (click)="visibleSidebar = false"
              class="block p-2 hover:bg-gray-200"
            >
              {{ item.label }}
            </a>
          </div>
        </div>
        <div *ngIf="!tab.child" class="font-bold p-2 hover:bg-gray-200">
          <a
            routerLink="{{ tab.to }}"
            routerLinkActive="active-link"
            (click)="visibleSidebar = false"
            class="block"
          >
            {{ tab.label }}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Sidebar for larger screens -->
<div
  class="hidden md:block lg:block fixed bg-white top-0 w-[300px] h-full shadow-md transition-transform duration-300 z-50"
>
  <div class="flex flex-col p-4">
    <img
      src="../../assets/images/ENIGMA_LOGO.png"
      class="self-center mb-6"
      width="150"
      alt="Enigma Logo"
    />
    <div class="flex flex-col cursor-pointer space-y-2">
      <ng-container *ngFor="let item of sidebarItems; let i = index">
        <div *ngIf="item.child" class="accordion">
          <button
            (click)="toggleAccordion(i)"
            class="accordion-header flex justify-between items-center text-left focus:outline-none w-full p-2 hover:bg-gray-200 font-bold"
          >
            {{ item.label }}
            <mat-icon
              class="text-gray-500"
              [ngClass]="{ 'rotate-90': isOpen[i] }"
              >chevron_right</mat-icon
            >
          </button>
          <div
            [ngClass]="{
              'max-h-0 overflow-hidden': !isOpen[i],
              'max-h-screen transition-max-height duration-500 ease-in-out':
                isOpen[i]
            }"
            class="pl-2 space-y-1"
          >
            <a
              *ngFor="let subItem of item.child"
              routerLink="{{ subItem.to }}"
              routerLinkActive="active-link"
              class="block pl-2 hover:bg-gray-200"
            >
              <p class="self-center p-1">{{ subItem.label }}</p>
            </a>
          </div>
        </div>
        <div *ngIf="!item.child" class="font-bold p-2 hover:bg-gray-200">
          <a
            routerLink="{{ item.to }}"
            routerLinkActive="active-link"
            class="block"
            >{{ item.label }}</a
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>
