<div class="mx-8 my-2">
  <form (ngSubmit)="onSubmit()" [formGroup]="createForm">
    <app-input
      inputType="email"
      label="email"
      [control]="createForm.controls.email"
    />
    <app-input
      inputType="text"
      label="password"
      [control]="createForm.controls.password"
    />

    <app-input
      inputType="text"
      label="First Name"
      [control]="createForm.controls.firstName"
    />

    <app-input
      inputType="date"
      label="Joined At"
      [control]="createForm.controls.joinedAt"
    />

    <app-input
      inputType="text"
      label="Batch ID"
      [control]="createForm.controls.batch"
    />
  </form>
  <div class="mx-2">
    @if (!isLoading) {
    <button
      class="w-full bg-[#233F93] text-white p-2 rounded"
      (click)="onSubmit()"
    >
      Submit
    </button>
    } @else {
    <div
      class="flex justify-center items-center w-full bg-[#233F93] text-white p-2 rounded"
    >
      <mat-icon class="animate-spin">refresh</mat-icon>
    </div>
    }
  </div>
</div>
